<div class="container">
  <div class="text-center">
    <div class="col-sm-6 ml-auto mr-auto" id="formContent">
      <form class="form-signin" [formGroup]="form" >
        <h1 class="h3 mb-3 font-weight-normal"> Sign in</h1>
        <br>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Email address" formControlName="email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password" required minlength="8">
        <input type="image" src="../../assets/btn_google_signin_dark_normal_web.png" name="GoogleButton" class="btTxt submit" (click)="signInWithGoogle()"/>
        <!--<div *ngIf="user" class="">
          <img src="{{ user.photoUrl }}" />
            <div>
              <h4>{{ user.name }}</h4>
              <p>{{ user.email }}</p>
            </div>
        </div>-->
        <input type="image" src="../../assets/facebook.png" name="FacebookButton" class="btTxt submit" (click)="signInWithFB()" width="200px"/>
        <!--<div *ngIf="user" class="">
          <img src="{{ user.photoUrl }}" />
            <div>
              <h4>{{ user.name }}</h4>
              <p>{{ user.email }}</p>
            </div>
        </div>-->
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()" >Sign in</button>
        <a href='/signup' style="padding-bottom: 10px;"> No account? Sign up now </a>
      </form>
    </div>

  </div>
</div>

